<ion-view view-title="QR Scanner">
    <ion-nav-buttons side="right" ng-show="false">
        <button class="button button-icon button-clear ion-qr-scanner" ng-click="scan()"></button>
    </ion-nav-buttons>
    <ion-content class="padding" style="background-color: #C8C8C8; border: 6px solid #A0A0A0 ;">
        <div class="list card">
            <div class="item item-divider">Recent Updates</div>
            <div class="item item-body">
                <div>
                    There is a fire in <b>sector 3</b>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
